[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "poLCAParallel"]
	path = poLCAParallel
	url = https://github.com/qmul/polcaparallel
